.temperature {
    margin: 10px 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    display: inline-block;
}

.tree {
    max-width: 100%;
    height: auto;
    display: block;
}

.item {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7); /* Example background */
    padding: 10px;
    border-radius: 5px;
    z-index: 2;
    backdrop-filter: blur(10px); /* Add background blur effect */
    text-align: center; /* Center the text */
    width: 100px; /* Default width for items */
}

.reading {
    margin-top: 5px;
    font-weight: bold;
}

/* Specific positions for the items */
#item1 {
    top: 40%;
    left: 35%;
}

#item2 {
    top: 40%;
    left: 55%;
}

#item3 {
    top: 30%;
    left: 35%;
}

#item4 {
    top: 30%;
    left: 55%;
}

/* Responsive adjustments */
@media (max-width: 768px){}
